.container
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Project name
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.active
            %a= link_to "Dictionary", "#" if user.admin?
          %li
            %a= link_to "Users", admin_users_path if user.admin?
          %li
            %a= link_to "Documents", user admin? ? admin_documents_path : documents_path
        %ul.nav.navbar-nav.navbar-right
          %li
            %a= link_to "Logout", destroy_user_session_path
