%h1 My documents
%table.table.table-bordered
  %thead
    %tr
      %th.col-md-8 Document title
      %th.col-md-4 Actions
  %tbody
    - @documents.each do |doc|
      %tr
        %td.col-md-8= doc.name
        %td.col-md-4
          = link_to 'Show uploads', document_path(doc)
          = link_to 'Edit', edit_document_path(doc)
          = link_to('Remove', document_path(doc), data: { confirm: 'Are you sure?' },
            method: 'delete')
